.otu-dropdownlist-container {
  position: relative;
  clear: both;
}

.otu-dropdownlist {
  display: block;
  border: 1px solid #736f6f;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.otu-dropdownlist:hover {
  background-color: #efeeee;
}

.otu-dropdownlist-title {
  display: block;
  font-weight: bold;
}

.otu-dropdownlist-text {
  display: block;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.otu-dropdownlist-arrow {
  position: absolute;
  right: 5px;
  left: auto;
  width: 16px;
  height: 16px;
  background-image: url("../images/dropdown_icon.gif");
}

.otu-dropdownlist-list {
  display: block;
  border: 1px solid #736f6f;
  max-height: 100px;
  border-radius: 5px;
  overflow: auto;
  position: absolute;
  background-color: #ffffff;
  z-index: 199;
}

.otu-dropdownlist-list-item {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  padding: 3px;
}

.otu-dropdownlist-list-item:hover {
  background-color: #efeeee;
}


/**
 * Open AGLS auto combo styles
 */
.otu-autocombo {
  position: relative;
  clear: both;
}

.otu-autocombo-list {
  width: 250px;
  height: 400px;
  border: 1px solid #efeeee;
  overflow: auto;
  float: left;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.otu-autocombo-list-item {
  white-space: nowrap;
  display: block;
  cursor: pointer;
  padding: 5px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 1px;
  background-color: #efeeee;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.otu-autocombo-list-item-disabled {
  background-color: #666666;
  color: #ffffff;
}

.otu-autocombo-list-item-group {
  background-image: url("../images/right_icon.gif");
  background-position: right center;
  background-repeat: no-repeat;
}

.otu-autocombo-list-item:hover,
.otu-autocombo-list-item-highlighted {
  background-color: #ffbb15;
}

.otu-autocombo-list-item-disabled.otu-autocombo-list-item-highlighted {
  color: inherit;
}

.otu-autocombo-input-wrapper {
  display: inline-block;
  position: relative;
}

.otu-autocombo-suggest-list {
  width: 250px;
  height: 400px;
  border: 1px solid #efeeee;
  overflow: auto;
  margin: 2px;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.otu-autocombo-suggest-list-item {
  white-space: nowrap;
  display: block;
  cursor: pointer;
  padding: 5px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 1px;
  background-color: #efeeee;
  overflow: hidden;
  text-overflow: ellipsis;
}

.otu-autocombo-suggest-list-item:hover {
  background-color: #840004;
  color: #ffffff;
}

.otu-autocombo-suggest-list-item-disabled:hover {
  background-color: #666666;
}

.otu-autocombo-suggest-list-item-disabled {
  background-color: #666666;
  color: #ffffff;
  cursor: not-allowed;
}

.otu-autocombo-title {
  display: block;
  font-weight: bold;
}

/**
 * Auto Combo input box styles
 */
.otu-autocombo-input {
  border: 1px solid #736f6f;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  width: 600px;
  cursor: text;
}

.otu-autocombo-input-box {
  outline: none;
  border: 0px solid;
  overflow: visible;
  width: 100px;
}

.otu-autocombo-input-box::-ms-clear {
  width: 0;
  height: 0;
}

.otu-autocombo-input-item {
  background-color: #efeeee;
  border: 1px solid #736f6f;
  display: inline-block;
  margin-right: 3px;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.otu-autocombo-input-item-close {
  color: #ffffff;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -2px;
  width: 12px;
  height: 12px;
  background-image: url("../images/delete-icon-12x12.png");
  cursor: pointer;
}

.otu-autocombo-input-browse {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background-color: #efeeee;
  cursor: pointer;
  margin-left: 20px;
}
